 
.table-container {
  margin: 20px;
  overflow-x: auto;
   
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
   
}

.table th {
  background-color: #432818;
  color: #ddd;
  font-size: 1.1rem;
}

.table td {
    background-color: #ddca7d;
    font-size: 1.1rem;
    font-weight: 400;
}
.item-cell {
  display: grid;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 90px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center; /* Center-aligning quantity controls */
}

.quantity-control button {
  background-color: #ddca7d;
  color: black;
  border: 1px solid black;
  padding: 5px ;
  cursor: pointer;
  border-radius: 4px;
  margin:  12px;
}

 .quantity-control button:hover {
    border: 1px solid #ddd;
background-color: black;
color: #ddd;
 }

.delete-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.delete-button:hover {
  color: darkred;
}

.actions {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between input and buttons */
}

.coupon-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ddca7d;
  /* color: white; */
}

.apply-button, .checkout-button {
  padding: 8px 16px;
  border: none;
  background-color: #ddca7d;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.apply-button:hover, .checkout-button:hover {
  background-color: #432818;
  color: #ddd;
}

.footer-label {
  text-align: right;
  padding-right: 10px;
}

.footer-value {
  text-align: center;
  font-weight: bold;
}

.footer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
     padding: 10px ;
  border-top: 1px solid #ddd;
  /* row-gap: 20px; */
  gap: 367px;
  background-color: #432818;
  color: #ddd;
  font-size: 1rem;
}